<h1 class="gsd_list_title">New Task List<br><small>Go ahead, Be productive!</small></h1>

<div class="forms">
	<%= render 'form' %>
</div>

<div class="links">
	<%= link_to 'Back', gsd_lists_path %>
</div>