 $white_opaque: rgba(250, 250, 250, .3);
 $dark: #1F7972;

* {
	box-sizing: border-box;
}
html {
  height: 100%;
}

body {
 	height: 100%;
  background: -webkit-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
  background:    -moz-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
  background:     -ms-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
  background:      -o-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
  background:         linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
  font-family: 'Lato', sans-serif;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

#notice {
	text-align: center;
	font-size: 0.6em;
	color: #1F7972;
	font-weight: 100;
}

.container {
	width: 50%;
	max-width: 750px;
	background: rgba(250, 250, 250, .3);
	margin: 3em auto 0 auto;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 4px 3px rgba(0,0,0,.3);
	box-shadow: 0 0 4px 4px rgba(0,0,0,.03);
	padding: 1em 0;
}

.gsd_list_title {
	text-align: center;
	font-weight: 700;
	font-size: 2.5rem;
	text-transform: none;
	color: #16a085;
	margin: 0;
	a {
		text-decoration: none;
		color: #ffffff;
		transition: all .4s ease-in-out;
		&:hover {
			opacity: 0.4
		}
		&:visited {
			color: #9b59b6;
		}
		
	}
}

.gsd_list_sub_title {
	margin: 0 0 3em 0;
	text-align: center;
	font-size: 0.9em;
	color: #1F7972;
	font-weight: 100;
}

.index_row {
	padding: 2em;
	border-bottom: 1px solid rgba(250,250,250, .3);
	.todo_list_sub_title {
		margin-bottom: 0;
	}
}

#gsd_items_wrapper {
	.row {
		width: 100%;
		border-top: 1px solid rgba(250,250,250, .3);
		border-bottom: 1px solid rgba(250,250,250, .3);
	}
	.complete {
		width: 10%;
		float: left;
		text-align: center;
		border-right: 1px solid rgba(250,250,250, .3);
		padding: 1em 0;
		}
	.gsd_item {
		width: 80%;
		float: left;
	}
	p {
		margin: 0;
		padding: 1em;
		color: #1F7972;
		font-weight: 100;
		}
	
	.trash {
		width: 10%;
		float: left;
		text-align: center;
		border-left: 1px solid rgba(250,250,250, .3);
		padding: 1em 0;
		}
	i {
		color: white;
		transition: all .4s ease-in-out;
		
		&:hover {
				color: #1F7972;
			}
		}
	}
	
	
#form {
		margin-top: 2em;
		padding: 0 5%;
}

input[type="text"] {
			width: 72%;
			margin-right: 2%;
			display: inline-block;
			outline: none;
			background: rgba(250,250,250,.4);
			border: none;
			height: 40px;
			border-radius: 4px;
			padding: 1em 2em;
		}
		
input[type="submit"] {
			background: rgba(250,250,250,.4);
			outline: none;
			border: none;
			height: 40px;
			border-radius: 4px;
			width: 25%;
			display: inline-block;
			transition: all .4s ease-in-out;
			cursor: pointer;
		
				&:hover {
					background: #1F7972;
				}
		
				::-webkit-input-placeholder { 
					color: #1F7972; 
				}
		}


.links {
	display: block;
	margin: 1.5em auto 0 auto;
	text-align: center;
	font-size: 0.8em;
	color: white;
		a {
			color: white;
		}
}

.forms {
	padding: 0 5%;
}

label {
	color: #1F7972;
}

input[type="text"], textarea {
	width: 100%;
	margin: .5em 2% 1em 0;
	display: inline-block;
	outline: none;
	background: rgba(250,250,250,.4);
	border: none;
	height: 40px;
	border-radius: 4px;
	padding: 1em 2em;
}

textarea {
	height: 200px;
}

input[type="submit"] {
	background: white;
	outline: none;
	border: none;
	height: 40px;
	border-radius: 4px;
	width: 25%;
	display: inline-block;
	transition: all .4s ease-in-out;
	cursor: pointer;
	color: #1F7972;
		&:hover {
			background: #1F7972;
			color: white;
		}
		
		::-webkit-input-placeholder { 
			color: #1F7972; 
			
		}
}